Bot/config.py
Bot/*.session
Bot/*.session-journal
Bot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Bot/modules/helper_funcs/temp.txt
Bot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Bot.session-journal
updates.txt
*.exe
